---
import { readdir } from "fs/promises";
import { join } from "path";

const publicPath = join(process.cwd(), "public/fonts");
let fonts: string[] = [];

try {
  const files = await readdir(publicPath);
  fonts = files
    .filter(
      (file) =>
        file.endsWith(".ttf") ||
        file.endsWith(".otf") ||
        file.endsWith(".woff") ||
        file.endsWith(".woff2"),
    )
    .map((file) => file.replace(/\.[^/.]+$/, ""));
} catch (error) {
  console.error("Error reading font files:", error);
}

const texts = {
  download: "چۈشۈرۈش",
  selectPreviewFont: "سىناق قىلماقچى بولغان فونت",
};
---

<div class="grow">
  <div class="flex flex-col gap-1">
    <label for="CurrentFont" class="font-semibold" dir="rtl">
      {texts.selectPreviewFont}
    </label>
    <div class="flex gap-4 w-full items-center">
      <div>
        <a
          href=""
          data-download
          class="border shadow-md text-black px-3 py-2 rounded"
        >
          <svg
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="inline mr-2"
          >
            <path
              d="M12 15.577l-3.538-3.539 1.061-1.061L11 12.454V3h1.5v9.454l1.477-1.477 1.061 1.061L12 15.577z"
              fill="currentColor"></path>
            <path
              d="M19 18v1H5v-1h2v-1.5H5.5c-.827 0-1.5.673-1.5 1.5v2c0 .827.673 1.5 1.5 1.5h13c.827 0 1.5-.673 1.5-1.5v-2c0-.827-.673-1.5-1.5-1.5H17v1.5h2z"
              fill="currentColor"></path>
          </svg>
          {texts.download}
        </a>
      </div>
      <div
        class="border grow border-gray-300 rounded p-2 relative after:block after:content-['▾'] after:absolute after:right-3 after:top-1/2 after:-translate-y-1/2 after:pointer-events-none"
      >
        <select
          id="CurrentFont"
          class="w-full h-full outline-none [-webkit-appearance:none]"
        >
          {fonts.map((font) => <option value={font}>{font}</option>)}
        </select>
      </div>
    </div>
  </div>
</div>

<input
  dir="rtl"
  type="text"
  class="px-4 py-3 rounded-full border border-gray-300"
  placeholder="تېكىستنى بۇ يەرگە كىرگۈزۈڭ"
  value="ئۇيغۇرچە يېزىق سىناق تېكىستى"
  onchange=""
/>

<div class="flex flex-col gap-6 mt-2">
  <hr class="border-neutral-200" />
  <p dir="rtl" class="text-xl" data-preview-area></p>
  <hr class="border-neutral-200" />
  <p dir="rtl" class="text-xl font-bold" data-preview-area></p>
</div>

<script>
  window.addEventListener("DOMContentLoaded", () => {
    const selectBox = document.getElementById(
      "CurrentFont",
    ) as HTMLSelectElement | null;
    const previewAreas = document.querySelectorAll<HTMLParagraphElement>(
      "[data-preview-area]",
    );
    const inputField = document.querySelector(
      "input[type='text']",
    ) as HTMLInputElement | null;
    const downloadLink = document.querySelector(
      "a[data-download]",
    ) as HTMLAnchorElement | null;

    let selectedFont = selectBox?.value;
    let inputText = inputField?.value || "";

    updatePreview();

    selectBox?.addEventListener("change", () => {
      selectedFont = selectBox.value;
      updatePreview();
    });

    inputField?.addEventListener("input", () => {
      inputText = inputField.value;
      updatePreview();
    });

    function updatePreview() {
      downloadLink!.href = `/fonts/${selectedFont}.ttf`;
      downloadLink!.download = `${selectedFont}.ttf`;

      previewAreas.forEach((previewArea) => {
        previewArea!.style.fontFamily = `'${selectedFont}', sans-serif`;
        previewArea!.textContent = inputText;
      });
    }
  });
</script>
